{% extends "core/base.html" %}
{% block target %}"newClass"{% endblock %}
{% block content %}
<style>
    body {
        background-image: url("{{ subject.background_image_url }}");
        background-size: 100%;
    }

</style>
    <div class="content-section content-section-main" style="width: 50vw; border-radius: 10px">
    <h1 style="margin-top: 2vh">Create New Page</h1>
        <form style=" width: 50vw; margin-left : 17vw;" method="post" action="">
        {% csrf_token %}
        <input name="redirect" type="hidden" value="{{ redirect }}">
        <table>
            <tr>
                <td>
                    <p>Class Name:</p>
                </td>
                <td>
                    <label>
                        <input type="text" name="className" required style="width: 8vw">
                    </label>
                </td>
            </tr>


        </table>
        <table>
            <tr>
                <td>
                    <button class="btn btn-outline-info" style=" width: 15vw;" type="submit">Create New Page!</button>
                </td>
            </tr>
        </table>
        </form>

    </div>
{% endblock %}

